/* Navbar */
.bg-nav {
  background-color: #498593;
}

/* Jumbotron */
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

/* About Me */

/* Projects */
#projects {
  background-color: #e2edff;
}

.card > img {
  height: 250px;
}

/* Footer */
footer {
  background-color: #498593;
}

/* All Section */
section {
  padding-top: 5rem;
}
